:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

body {
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

span {
  display: inline-block;
}

.home-logo {
  height: 30px;
  width: auto;
  pointer-events: none;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f2f0f3;
}

.not-found {
  margin: auto;
  align-items: center;
  text-align: center;
}

.home {
  display: flex;
  margin: 0 10px 0 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.home-name {
  padding: 0 10px 0 10px;
  font-size: calc(8px + 2vmin);
  white-space: nowrap;
}

.menu {
  width: 50%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.menu-item {
  width: 30%;
  border-right: 1px solid #ffffff;
  padding: 0 15px 0 15px;
}

.menu-item:last-child {
  border-right: none;
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #332f38;
  min-height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(6px + 2vmin);
  color: #b5b5b5;
  font-family: 'Gill Sans', sans-serif;
}

.App-header a:link {
  color: #ffffff;
  text-decoration: none;
}

.App-header a:visited {
  color: #ffffff;
  text-decoration: none;
}

.App-header a:hover {
  color: #d5d5d5;
  text-decoration: underline;
}

.App-main {
  background-color: #fff;
  margin: 70px 5% 30px;
  padding-bottom: 30px;
  border-radius: 15px;
}

.App-main a:link {
  color: #000000;
  text-decoration: none;
}

.App-main a:visited {
  color: #000000;
  text-decoration: none;
}

.App-main a:hover {
  color: #626262;
  text-decoration: underline;
}

.App-main-blog {
  margin: 70px 5% 30px;
  padding-bottom: 30px;
  border-radius: 15px;
  width: 90%;
}

.App-main-blog a:link {
  color: #000000;
  text-decoration: none;
}

.App-main-blog a:visited {
  color: #000000;
  text-decoration: none;
}

.App-main-blog a:hover {
  color: #626262;
  text-decoration: underline;
}

.greet {
  margin: 20px auto 20px auto;
}

.tweet {
  width: 85%;
  max-width: 551px;
  height: auto;
  margin: 20px auto 20px auto;
}

.App-footer {
  width: 100%;
  background-color: #332f38;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 40px;
  padding-bottom: 60px;
  margin-top: auto;
  z-index: 100;
}

.App-footer p{
  color: #cac4d2;
}

.icon{
  margin: 0 10px 0 10px;
}

.App-home {
  background-color: #ffffff;
  text-align: center;
}

.App-home h1 {
  margin: 30px;
}

.App-about {
  background-color: #ffffff;
  line-height: 35px;
  width: 90%;
  margin: 0 5% 0 5%;
}

.App-about img {
  width: 70%;
  max-width: 300px;
  height: auto;
}

.App-about h1 {
  font-size: 35px;
}

.App-about p {
  text-align: center;
  margin-bottom: 40px;
}

.about-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 2px dotted #515151;
}

.about-content h1 {
  border-bottom: 2px dotted #ddd;
}

.about-content h1::before {
  content: '◇';
  position: relative;
  margin-right: 10px;
}

.about-content h2 {
  border-bottom: 2px dotted #ddd;
}

.about-content h2::before {
  content: '◇';
  position: relative;
  margin-right: 10px;
}

.about-content h3 {
  border-bottom: 2px dotted #ddd;
}

.about-content h3::before {
  content: '◇';
  position: relative;
  margin-right: 10px;
}

.about-content ul {
  list-style-position: inside;
}

.about-content li {
  padding-bottom: 10px;
  padding-left: 10px;
}

.about-content code {
  background-color: #f1f1f1;
  font-size: 16px;
}

.App-blog {
  background-color: #ffffff;
  line-height: 30px;
  width: 90%;
  margin: 0 5% 0 5%;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 113.5px * 2);
}

.blog-wrapper {
  background-color: #fff;
  padding-bottom: 30px;
  border-radius: 15px;
}

.page-desc {
  margin: 20px auto 20px auto;
}

.page-desc h1 {
  padding-top: 30px;
}

.blog-container {
  width: 95%;
  max-width: 600px;
  margin: 30px auto 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-card {
  width: 100%;
  margin: 13px;
  background-color: #fff;
  color: #000;
  overflow: hidden;
  box-shadow: 5px 5px 0 0 #c7bcd3;
}

.blog-card:hover {
  background-color: #efefef;
}

.blog-card h2 {
  white-space: normal;
  font-size: 23px;
  margin: 20px 15px 10px 15px;
  padding-bottom: 5px;
  border-bottom: 2px dotted #ddd;
}

.blog-description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 15px;
  line-height: 180%;
  height: calc(1em * 1.8);
  color: #777;
  margin: 10px 15px 10px 15px;
}

.blog-date p {
  color: #999;
  text-align: right;
  margin: 10px 15px 10px 10px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin: auto auto 0px;
  margin-top: auto;
}

.pagination-link {
  display: inline-block;
  height: 40px;
  min-width: 40px;
  line-height: 39px;
  padding: 0;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #58545a;
  color: #58545a !important;
  background-color: #fffbff;
  margin: 10px 2px 10px 2px;
}

.pagination-link:hover {
  background-color: #ede4ed;
}

.current-pagination-link {
  display: inline-block;
  height: 40px;
  min-width: 40px;
  line-height: 39px;
  padding: 0;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #58545a;
  color: #ffffff !important;
  background-color: #58545a;
  margin: 10px 2px 10px 2px;
}

.abbreviation {
  min-width: 40px;
  padding: 0;
  text-align: center;
  color: #58545a;
  margin: 0px 2px 0px 2px;
}

.blog-intro h1 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
}

.blog-intro p {
  text-align: right;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 2px dotted #515151;
}

.blog-content h1 {
  padding-bottom: 0.3em;
  border-bottom: 2px dotted #ddd;
}

.blog-content h1::before {
  content: '◇';
  position: relative;
  margin-right: 10px;
}

.blog-content h2 {
  padding-bottom: 0.3em;
  border-bottom: 2px dotted #ddd;
}

.blog-content h2::before {
  content: '◇';
  position: relative;
  margin-right: 10px;
}

.blog-content h3 {
  padding-bottom: 0.3em;
  border-bottom: 2px dotted #ddd;
}

.blog-content h3::before {
  content: '◇';
  position: relative;
  margin-right: 10px;
}

.blog-content ul {
  list-style-position: inside;
}

.blog-content li {
  padding-bottom: 10px;
  padding-left: 10px;
}

.blog-content code {
  background-color: #f1f1f1;
  font-size: 16px;
}

.blog-content blockquote {
  padding-left: 1em;
  border-left: 5px solid #aaa;
}

.blog-content a {
  color: #332f38;
}

.blog-content a:hover {
  color: #8b8196;
}

.blog-outro {
  margin-left: 1%; 
}

.blog-outro p {
  color: #999;
  font-size: 0.9em;
}

.page-sep {
  display: flex;
}

.blog-page-list {
  display: none;
}

@media (min-width:850px) {
  .App-main-blog {
    margin-right: 35%;
  }

  .blog-page-list {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    height: 85vh;
    overflow-y: scroll;
    min-width: 25%;
    background-color: #fff;
    border-radius: 15px;
    padding: 30px 20px 20px 20px;
    margin: 70px 5% 60px 0;
    z-index: 10;
  }
}

.image-sheep {
  height: 40vmax;
}

.favorite {
  font-weight: bold;
}

.App-illust {
  width: 95%;
  background-color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin: 0px auto auto auto;
}

.App-illust p {
  margin: 0;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.illust-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 10% 5%;
}

.illust-list img {
  width: 100%;
  height: auto;
  margin: 0px;
  position: relative;
}

.illust-list img:hover {
  top: -15px;
  transition: 0.5s;
}

.illust-card {
  display: flex;
  align-items: center;
  max-width: 90%;
  height: 20%;
  width: auto;
  margin: 25px 0 25px 0;
}

.illust-card img {
  width: 80%;
  height: auto;
  max-width: 370px;
  min-width: 300px;
  margin-right: 20px;
}

.illust-card-content {
  flex-grow: 1;
  margin: 20px 0 20px 0;
}

@media (max-width:700px) {
  .illust-card {
    flex-direction: column;
    text-align: center;
  }
  
  .illust-card img {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .illust-card-content {
    margin: 0 0 20px 0;
  }

  .illust-card-share {
    text-align: center;
  }
}

@media (max-width: 670px) {
  .App {
    background-color: #fff;
  }
  .App-main {
    border-radius: 0;
  }
  .App-blog, .App-about {
    width: 100%;
    margin: 0;
  }
}